USE [master]
GO
/****** Object:  Database [UniversityManagement]    Script Date: 06/24/2024 10:57:51 AM ******/
CREATE DATABASE [UniversityManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityManagement', FILENAME = N'D:\SQL\Saved Database\UniversityManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniversityManagement_log', FILENAME = N'D:\SQL\Saved Database\UniversityManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityManagement]
GO
/****** Object:  Table [dbo].[AnnouncementCategory]    Script Date: 06/24/2024 10:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnnouncementCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 06/24/2024 10:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[AnnouncementID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Content] [nvarchar](max) NULL,
	[AuthorID] [int] NULL,
	[PublishedDate] [date] NULL,
	[CategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnnouncementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 06/24/2024 10:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HolidaySchedule]    Script Date: 06/24/2024 10:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HolidaySchedule](
	[HolidayID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[HolidayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MeetingSchedule]    Script Date: 06/24/2024 10:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MeetingSchedule](
	[MeetingID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[MeetingDate] [date] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MeetingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostCategory]    Script Date: 06/24/2024 10:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCategory](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 06/24/2024 10:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[PostImage] [varchar](255) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[AuthorID] [int] NULL,
	[PublishedDate] [date] NULL,
	[CategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentEvents]    Script Date: 06/24/2024 10:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentEvents](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[EventDate] [date] NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[Location] [nvarchar](255) NULL,
	[Organizer] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 06/24/2024 10:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeachingSchedule]    Script Date: 06/24/2024 10:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeachingSchedule](
	[TeachingID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [int] NULL,
	[SubjectID] [int] NULL,
	[ClassID] [int] NULL,
	[TeachingDate] [date] NULL,
	[DayOfWeek] [varchar](20) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TeachingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06/24/2024 10:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[FullName] [varchar](100) NULL,
	[Phone] [varchar](50) NULL,
	[Role] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WeeklySchedule]    Script Date: 06/24/2024 10:57:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WeeklySchedule](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[DayOfWeek] [nvarchar](20) NULL,
	[Date] [date] NULL,
	[Time] [time](7) NULL,
	[Content] [nvarchar](max) NULL,
	[Participants] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[Host] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnnouncementCategory] ON 

INSERT [dbo].[AnnouncementCategory] ([CategoryID], [Name]) VALUES (1, N'Nghiên cứu')
INSERT [dbo].[AnnouncementCategory] ([CategoryID], [Name]) VALUES (4, N'Sáng Tạo Đổi Mới Công Nghệ')
SET IDENTITY_INSERT [dbo].[AnnouncementCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Announcements] ON 

INSERT [dbo].[Announcements] ([AnnouncementID], [Title], [Content], [AuthorID], [PublishedDate], [CategoryID]) VALUES (2, N'Thông báo thời gian bảo vệ đồ án năm 2024', N'Thời gian báo cáo vào lúc 7h ở hội trường A', 2, CAST(N'2024-06-30' AS Date), 1)
INSERT [dbo].[Announcements] ([AnnouncementID], [Title], [Content], [AuthorID], [PublishedDate], [CategoryID]) VALUES (4, N'Thao báo thời gian nộp báo cáo đồ án tốt nghiệp năm 2024', N'Sinh viên lưu file báo cáo theo mẫu Tên_MSV_Final dưới dạng file pdf nộp vào link gg form trong nhóm msteam. Hạn cuối vào ngày 20/04/2024', 1, CAST(N'2024-06-20' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Announcements] OFF
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ClassID], [ClassName]) VALUES (1, N'DSTT123')
INSERT [dbo].[Classes] ([ClassID], [ClassName]) VALUES (2, N'NMLT321')
INSERT [dbo].[Classes] ([ClassID], [ClassName]) VALUES (3, N'19T1')
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[HolidaySchedule] ON 

INSERT [dbo].[HolidaySchedule] ([HolidayID], [Title], [StartDate], [EndDate]) VALUES (2, N'Nghi le', CAST(N'2023-04-01' AS Date), CAST(N'2023-05-04' AS Date))
SET IDENTITY_INSERT [dbo].[HolidaySchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[MeetingSchedule] ON 

INSERT [dbo].[MeetingSchedule] ([MeetingID], [Title], [Description], [MeetingDate], [StartTime], [EndTime]) VALUES (1, N'Meeting', N'an', CAST(N'2024-05-05' AS Date), CAST(N'07:00:00' AS Time), CAST(N'19:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[MeetingSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[PostCategory] ON 

INSERT [dbo].[PostCategory] ([CategoryID], [Name]) VALUES (1, N'Khoa Học Công Nghệ')
INSERT [dbo].[PostCategory] ([CategoryID], [Name]) VALUES (2, N'Tin Tức')
INSERT [dbo].[PostCategory] ([CategoryID], [Name]) VALUES (5, N'Công Nghệ AI')
SET IDENTITY_INSERT [dbo].[PostCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

INSERT [dbo].[Posts] ([PostID], [Title], [PostImage], [Content], [AuthorID], [PublishedDate], [CategoryID]) VALUES (4, N'Bảo vệ đồ án tốt nghiệp năm học 2024-2025', N'post2.jpg', N'Thời gian báo cáo vào lúc 7h ở hội trường A', 1, CAST(N'2024-06-20' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentEvents] ON 

SET IDENTITY_INSERT [dbo].[StudentEvents] OFF
GO
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectID], [SubjectName]) VALUES (1, N'Toan')
SET IDENTITY_INSERT [dbo].[Subjects] OFF
GO
SET IDENTITY_INSERT [dbo].[TeachingSchedule] ON 

INSERT [dbo].[TeachingSchedule] ([TeachingID], [TeacherID], [SubjectID], [ClassID], [TeachingDate], [DayOfWeek], [StartTime], [EndTime]) VALUES (1, 1, 1, 1, CAST(N'2024-03-05' AS Date), N'3', CAST(N'12:30:00' AS Time), CAST(N'19:00:00' AS Time))
INSERT [dbo].[TeachingSchedule] ([TeachingID], [TeacherID], [SubjectID], [ClassID], [TeachingDate], [DayOfWeek], [StartTime], [EndTime]) VALUES (2, 1, 1, 1, CAST(N'2024-03-07' AS Date), N'5', CAST(N'12:30:00' AS Time), CAST(N'13:30:00' AS Time))
INSERT [dbo].[TeachingSchedule] ([TeachingID], [TeacherID], [SubjectID], [ClassID], [TeachingDate], [DayOfWeek], [StartTime], [EndTime]) VALUES (12, 1, 1, 1, CAST(N'2024-06-24' AS Date), N'2', CAST(N'12:30:00' AS Time), CAST(N'13:30:00' AS Time))
SET IDENTITY_INSERT [dbo].[TeachingSchedule] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Phone], [Role]) VALUES (1, N'admin', N'1', N'Adminmin', N'123', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [FullName], [Phone], [Role]) VALUES (2, N'teacher1', N'1', N'Hoang Anh', N'123', N'Teacher')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WeeklySchedule] ON 

INSERT [dbo].[WeeklySchedule] ([ScheduleID], [DayOfWeek], [Date], [Time], [Content], [Participants], [Location], [Host]) VALUES (1, N'Thứ Hai', CAST(N'2024-06-17' AS Date), CAST(N'10:00:00' AS Time), N'Bài Giảng  Toán', N'Tất cả sinh viên ngành Toán', N'Phòng 101', N'GS. John Doe')
INSERT [dbo].[WeeklySchedule] ([ScheduleID], [DayOfWeek], [Date], [Time], [Content], [Participants], [Location], [Host]) VALUES (2, N'Thứ Ba', CAST(N'2024-06-18' AS Date), CAST(N'14:00:00' AS Time), N'Thực Hành Vật Lý', N'Sinh viên Vật Lý 101', N'Phòng Thí Nghiệm 3', N'TS. Jane Smith')
INSERT [dbo].[WeeklySchedule] ([ScheduleID], [DayOfWeek], [Date], [Time], [Content], [Participants], [Location], [Host]) VALUES (3, N'Thứ Tư', CAST(N'2024-06-19' AS Date), CAST(N'09:00:00' AS Time), N'Hội Thảo Hóa Học', N'Khoa Hóa Học', N'Phòng 204', N'GS. Albert Newton')
SET IDENTITY_INSERT [dbo].[WeeklySchedule] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4BBDA841C]    Script Date: 06/24/2024 10:57:51 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[AnnouncementCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[PostCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[TeachingSchedule]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[TeachingSchedule]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[TeachingSchedule]  WITH CHECK ADD FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Users] ([UserID])
GO
USE [master]
GO
